agent-01-MatFeiWnxjRvXxwZ.json
{"createdAt":"2025-05-03T23:40:12.000Z","updatedAt":"2025-05-05T15:02:02.000Z","id":"MatFeiWnxjRvXxwZ","name":"Agent 01","active":true,"nodes":[{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[2240,-160],"id":"2430aa9c-4eac-4321-ab16-a729f3ddae06","name":"Respond to Webhook"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1340,240],"id":"96f261dd-72c6-48dc-abdd-3a89547d92d6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply\": {\n      \"type\": \"string\",\n      \"description\": \"A human-like natural language response to the user's input.\"\n    },\n    \"actions\": {\n      \"type\": \"array\",\n      \"description\": \"A list of actions the agent should perform. Can be empty if no actions are needed.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"The name of the action to perform.\"\n          },\n          \"params\": {\n            \"type\": \"array\",\n            \"description\": \"List of parameters required by the action.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\"name\", \"params\"],\n        \"additionalProperties\": false\n      },\n      \"default\": []\n    }\n  },\n  \"required\": [\"reply\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2220,180],"id":"5167b048-2bcc-412b-9aa8-08ceef2de548","name":"Structured Output Parser"},{"parameters":{"content":"## Main workflow\n","height":800,"width":1200,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1160,-300],"typeVersion":1,"id":"1010a1c8-e48c-45c9-b0f3-b0f546530bea","name":"Sticky Note"},{"parameters":{"mode":"retrieve-as-tool","toolName":"FutuurKnowItAll","toolDescription":"Use this to get generic info about futuur platform, like FAQs, links and actions","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1920,140],"id":"2a979335-3cae-4e16-ad85-b908f88758a8","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"1JS0Mu7Zt7KAYF8s","name":"Supabase account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[420,80],"id":"5cb5bca3-f551-4485-b95f-442ad3508c03","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[600,40],"id":"91af5ef2-7b85-465f-b0d5-c84f17ae3d72","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[620,180],"id":"a6443087-b3ec-42ce-8836-30005a8c61c7","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1960,300],"id":"0719dfbe-8887-42fb-bffd-35bd7e01a182","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Actions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,-120],"id":"476846c4-afdc-42fa-bbca-0e37e975819c","name":"Actions","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":267500703,"mode":"list","cachedResultName":"FAQs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=267500703"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,260],"id":"c216dbcc-7f8f-4360-8565-b557466e770a","name":"FAQs","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[400,-140],"id":"77a33f6f-adee-4908-aff7-54c51619920f","name":"Updating RAG","credentials":{"supabaseApi":{"id":"1JS0Mu7Zt7KAYF8s","name":"Supabase account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":1636131972,"mode":"list","cachedResultName":"URLs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=1636131972"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,80],"id":"0effb7d0-1084-41f0-8e0f-3d38d4b68544","name":"URLs","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"content":"## RAGing workflow\nconvert files from Google Sheet into a vector database. [DOCS](https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc)","height":800,"width":900},"type":"n8n-nodes-base.stickyNote","position":[20,-300],"typeVersion":1,"id":"23915aea-ec63-4389-bf59-ef20705eab7b","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.query.prompt }}","hasOutputParser":true,"options":{"systemMessage":"=🧠 Smart Data Agent for Futuur, you will be responding to user questions and sending actions (when there is actions to send), the actions array will then be used in the front end to do things.\n\nIMPORTANT \nALWAYS Query the Supabase vector store, even if you think the prompt is clear, Espeacaly when the prompt is a request (eg: can you redirect ...)\n\n\n🏢 About Futuur\nFutuur is a prediction market platform that:\nLets users bet on a wide range of outcomes\nHarnesses collective wisdom to generate precise forecasts\nProvides better insights and rewards for accurate predictions\n\n✅ Core Responsibilities\nGeneral Guidelines\nNever send an empty response\n\nOnly answer questions related to Futuur, keep your answers short and related to the user's prompt.\n\nthe prompt will have the user's message + some other metadata like the URL...\n\nIf a prompt doesn't match any provided tools, ask the user to explain further\n\n🛠 Data Gathering and Tool Usage — MANDATORY\nFor EVERY user query, you MUST check ALL available tools in this exact order:\n\nQuery the Supabase vector store for any relevant information (this includes general knowledge, FAQ content, URLs of possible actions)\n\nIf user is searching for markets, perform an HTTP request for market search using the provided tools\n\n🔍 Market Search Functionality\nIf the user appears to be looking for a specific market or prediction:\n\nUse the get_markets HTTP tool  to search for relevant markets\n\nif the prompt comes from a market page (eg:.../q/${market_id}/), it's NECESSARY to use the get_market_by_id HTTP tool to help you understand the current market the user in, also no need to use highlighted_market action because he is already in the market \n\nParse keywords from the user's query to determine search terms\n\nACTIONS \n\nyou have multiple actions you can send, they should be in the Supabase vector, if the user ask for any kind of action, see if such action can be done (again from the supabase data), if there is send it in the actions table.\n\nHandle search results as follows:\nIf exactly ONE market is found:\n\n{\n  \"reply\": \"Taking you straight to the market you asked about.\",\n  \"actions\": [\n    {\n      \"name\": \"redirect\",\n      \"params\": [\"market_id\"]\n    }\n  ]\n}\nIf MULTIPLE markets are found:\n\n{\n  \"reply\": \"I found a few markets that match your search. Highlighting them for you now!\",\n  \"actions\": [\n    {\n      \"name\": \"highlight_markets\",\n      \"params\": [\"market_id_1\", \"market_id_2\", \"...\"]\n    }\n  ]\n}\nIf NO markets are found:\n\n{\n  \"reply\": \"I couldn’t find any markets that match those terms. Want to try a different search?\",\n  \"actions\": []\n}\n\n❓ FAQ & Action Handling\nUse the Supabase vector store to fetch:\n\nAnswers to frequently asked questions\n\nAction definitions and instructions\n\nFAQ categories include (but are not limited to):\n\nUnderstanding Currencies\n\nCreating an Account\n\nDeposit and Withdrawals\n\nBetting and Trading\n\nAPI and Apps\n\nPrediction Markets Basics\n\nAutomated Market Maker (AMM)\n\nLicense and Jurisdiction\n\nIf a matching action is found, include it in the response and fill in the params as best as possible\n\nIf required params are missing, ask the user to provide them\n\n \n\n💡 Response Format — ALWAYS return valid JSON like this:\n\n{\n  \"reply\": \"A human-like natural language response to the user's input.\",\n  \"actions\": [\n    {\n      \"name\": \"ActionNameFromTheVectorStore\",\n      \"params\": [\"param1\", \"param2\", \"...\"]\n    }\n  ]\n}\n\"reply\" must never be empty\n\n\"actions\" must always be an array (empty if no actions apply)\n\nNo matter what happens, always return a valid JSON response\n\n🚫 When No Info is Found\nOnly if nothing relevant is found after checking Supabase vector store and market search:\n\n{\n  \"reply\": \"I don't have information about that in my Futuur knowledge base. Could you please clarify or ask something related to Futuur's prediction markets?\",\n  \"actions\": []\n}\n🗣 Human-Friendly Reply\nBe natural, conversational, and helpful\n\nFriendly and cool tone, but avoid slang when clarity is key\n\nNever guess — ask for more details when needed"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1660,-180],"id":"0c802495-14ae-4aa4-80d6-1dc90329e4a0","name":"Main agent","alwaysOutputData":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1520,220],"id":"44bc24e9-774e-4c66-9ddd-b44bce0f9a57","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"8UCatKRLQedygl6J","name":"Postgres account"}}},{"parameters":{"path":"14b86522-012d-4a68-9a74-04506227af1e","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1200,-60],"id":"32710d24-8b98-4ff3-8f9b-15ee42ebf008","name":"Webhook","webhookId":"14b86522-012d-4a68-9a74-04506227af1e"},{"parameters":{"assignments":{"assignments":[{"id":"6fa328df-fd0a-4653-8be0-d8589dcb5449","name":"sessionId","value":"={{ $json.query.prompt }}{{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,-140],"id":"2a207d8a-6429-456a-99ac-6286ec80aed5","name":"Edit Fields"},{"parameters":{"toolDescription":"Makes an HTTP request to get a list of markets and returns the response data,\nthese are the possible queries :\ncategories?: number[];\n  currency_mode?: \"play_money\" | \"real_money\";\n  limit?: number;\n  live?: boolean;\n  offset?: number; \n  resolved_only?: boolean;\n  search?: string;\n  tag?: string; ","url":"https://api-staging.futuur.com/v1.5/questions","sendQuery":true,"queryParameters":{"parameters":[{"name":"currency_mode","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `\"play_money\" | \"real_money\", default to play_money`, 'string') }}"},{"name":"limit","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `for paggination the amount of question to get default to 8`, 'string') }}"},{"name":"live","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `a flag, if set to true only get the live market`, 'string') }}"},{"name":"offset","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `for paggination, to skip already fetched data, default to 0`, 'string') }}"},{"name":"resolved_only","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `a flag for resolved marker, default to false`, 'string') }}"},{"name":"search","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `VERY IMPORTANT, it helps get the question the user want`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1660,220],"id":"dfc7691f-14f1-4222-a985-6b9b5a10786f","name":"Search markets"},{"parameters":{"toolDescription":"Makes an HTTP request to get more data about specific market by ID, currency_mode [\"play_money\"|\"real_money\"] is a query param use play_money as default.","url":"= https://api-staging.futuur.com/v1.5/questions/{{ $fromAI(\"question_id\") }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"currency_mode","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `currency_mode \"play_money\"|\"real_money\", default to play_money`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1820,220],"id":"551ca3d2-d718-42f8-844e-532ade5fe187","name":"get_market_by_id"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Main agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Main agent","type":"ai_outputParser","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Updating RAG","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Updating RAG","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Actions":{"main":[[{"node":"Updating RAG","type":"main","index":0}]]},"FAQs":{"main":[[{"node":"Updating RAG","type":"main","index":0}]]},"URLs":{"main":[[{"node":"Updating RAG","type":"main","index":0}]]},"Main agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Main agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Main agent","type":"main","index":0}]]},"Search markets":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"get_market_by_id":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"self-building-ai-agent","templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"agent.futuur.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19Zjo87ntYWu7nHL53p%2FS5Yb%2FxN%2FUqZGbA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1898y1cy0jASgF5gMiY6zkebs3EJi0Y0Nk%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjIzNzdmYWFmLTRhYWUtNDUzZS1iMDliLWNjYWIyNTJkNTk3NSIsImhhc2giOiJkSnI2NnBDUmtHIiwiYnJvd3NlcklkIjoiUGVTR0lnTGdSYlZOWkZJY1ZBbnl0QUFPSTB3VWtiOVAreVVmRjhoK1Btcz0iLCJpYXQiOjE3NDYzMTU1NjEsImV4cCI6MTc0NjkyMDM2MX0.4gxxVDiQ6xP0EIsNbwo54ZoO6UWL5XJZXnzxQPRkJMQ; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19U9lQUZVkXCtA%2BF7VXlcBOjs2b4v9PgAwkd9IkdUJcsYyBjLq52Mkpg4apNBFLM8Uuf3AWyGJ%2F%2Bg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FAajz%2BR%2Bl5rEr%2FoBbXbFkvlwDirj%2FWHKekTqPitVxgNpHuPjuXZ1Oys%2FKsa4%2BnYhaoLIQUlVeyyrCevQh6PLlzbnI9yxLIb7gY2H2muomOIte%2FCqDlJJQRNjFDExqbf%2BOWzgK2YW3g7sUXpvsXSpXEvf8yO5FteUQ%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX180KYFUj2bLdCcxdXWufKfFWw%2FD4Qvxa0dhsqE8%2FZNmYPQL2eGugUF7prIo8tbxFCQR%2F%2BmeRPwONFXZfzZQV%2Fu%2Bk%2BV6dBGklLjDgJfjE2HUWcyCVv%2BHWFkFNUaACD4O0Ux1xb9sbKsLew%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2220532a5f48adb8f9f51449366dfdf7e83a42f12a6abf35ea768fe9b42529ef8e%232377faaf-4aae-453e-b09b-ccab252d5975%22%2C%22%24sesid%22%3A%5B1746423823102%2C%2201969e34-7b2a-79ae-899e-e6e4256c5ce9%22%2C1746410961706%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fagent.futuur.com%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BTmcGHmtgyfO57Dqx5xofOvMX2yW%2FdM%2FZItHcxNrfpHnQ6IMKrmNh8tiAmJIdWTf95%2BW%2BPyZaZcgHQl4JOCDfhcm0C2BAl8TAIFb%2FE%2Fl23SJ3wZ0OeK7NCqfzBDtyxnybC60diiMSrpA%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","via":"2.0 Caddy","x-forwarded-for":"197.240.97.2","x-forwarded-host":"agent.futuur.com","x-forwarded-proto":"https"},"params":{},"query":{"prompt":"[URL: http://localhost:3002/q/22652/next-scotus-justice-leave]\n\nUser message: can you redirect me  feed page"},"body":{},"webhookUrl":"https://agent.futuur.com/webhook-test/14b86522-012d-4a68-9a74-04506227af1e","executionMode":"test"}}]},"versionId":"8c199bd7-4687-4fec-8dbf-082b61d2b097","triggerCount":1,"tags":[]}