agent-01-MatFeiWnxjRvXxwZ.json
{"createdAt":"2025-05-03T23:40:12.000Z","updatedAt":"2025-05-04T21:45:00.000Z","id":"MatFeiWnxjRvXxwZ","name":"Agent 01","active":true,"nodes":[{"parameters":{"path":"35552514-00cb-49df-a399-43f3abc570d2","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-240],"id":"5897a047-f72d-4440-9eb2-bd1b35d94716","name":"Webhook","webhookId":"35552514-00cb-49df-a399-43f3abc570d2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[340,220],"id":"93b3debf-6904-4bc9-8c31-16b2bf852afc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.query.prompt }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[520,220],"id":"9e99c614-3987-40db-bf45-d9ba2eb38be7","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Add data in a table","tableId":"Agent Memory","fieldsUi":{"fieldValues":[{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"memory","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[740,220],"id":"5cbc1ee2-9008-471a-8af6-1b67e964e5f3","name":"Create_memory","credentials":{"supabaseApi":{"id":"fZZueThvXkhZDPWy","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"get data from a table","operation":"get","tableId":"Agent Memory"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[860,220],"id":"67e963d8-4a4d-463d-8035-9c86363e034b","name":"get_memory","credentials":{"supabaseApi":{"id":"fZZueThvXkhZDPWy","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query.prompt }}","hasOutputParser":true,"options":{"systemMessage":"=🧠 System Prompt: Data Management Agent\nRole:\nYou are a smart data management agent responsible for maintaining an accurate and up-to-date knowledge base about a specific platform. You manage platform-level information by creating, updating, or deleting entries in a Supabase database. Your primary goal is to save structured and clean platform knowladge in Supabase that can be consumed by another agent responsible for answering questions and performing user actions.\n\nIMPORTANT : ALWAYS respond with the ONLY the original user prompt\n \n📌 Core Responsibilities\nData Operations\nYou have full access to:\n\nGET: retrieve current platform data from Supabase.\n\nCREATE: insert new platform-related information.\n\nDELETE: remove outdated or contradictory data (using the exact memory ID from the GET query).\n\nClassification Logic\nClassify the incoming message. Only proceed with data management if the content is general/platform-related, not user-specific.\n\nInformation Update Flow\n\nALWAYS check Supabase before responding.\n\nIf relevant new or corrected general information is identified, integrate it.\n\nIf a contradiction is found, remove the outdated row by memory ID before inserting the correct data.\n\n🧭 Guidelines\n✅ Store platform-level facts, configurations, structures, features, or terminology.\n\n❌ Do not store user-specific, personalized, or session-based information.\n\n💡 Don't mention anything related to what you did your work will be silent, JUST respond with the original user prompt.\n\nIf you run into issues don't say nothing about it, just respond with the the original user prompt\n\n💡 Highlight the user’s original input clearly for traceability.\n\n🧹 Ensure all stored data is:\n\nAccurate\n\nNon-duplicated\n\nEasy for another LLM to query and use."}},"id":"41174c8a-6ac8-42bd-900e-ca15196600c5","name":"memory manager","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[500,-40]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[2020,-140],"id":"2430aa9c-4eac-4321-ab16-a729f3ddae06","name":"Respond to Webhook"},{"parameters":{"descriptionType":"manual","toolDescription":"Read, data from Google Sheets","documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"commands","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1140,220],"id":"f7fb2659-2f82-4aa1-8cb5-0b453adbbc20","name":"Commands","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.query.prompt }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1480,240],"id":"38c5d99a-d517-4f2b-b5b5-a637ec792fa1","name":"Simple Memory1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1340,240],"id":"96f261dd-72c6-48dc-abdd-3a89547d92d6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply\": {\n      \"type\": \"string\",\n      \"description\": \"A human-like natural language response to the user's input.\"\n    },\n    \"actions\": {\n      \"type\": \"array\",\n      \"description\": \"A list of actions the agent should perform. Can be empty if no actions are needed.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"The name of the action to perform.\"\n          },\n          \"params\": {\n            \"type\": \"array\",\n            \"description\": \"List of parameters required by the action.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\"name\", \"params\"],\n        \"additionalProperties\": false\n      },\n      \"default\": []\n    }\n  },\n  \"required\": [\"reply\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2120,240],"id":"5167b048-2bcc-412b-9aa8-08ceef2de548","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5284f4a-4161-41a9-9f7f-6c5cba1f5c9d","leftValue":"={{ $json.query.prompt }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,20],"id":"17e15777-194b-4423-84c2-5677f39b129a","name":"If"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.query.prompt }}","hasOutputParser":true,"options":{"systemMessage":"=You are a Smart Data Agent for Futuur\n\nAbout Futuur\nFutuur is a prediction market platform that:\n\nLets users bet on a wide range of outcomes\nHarnesses collective wisdom to generate precise forecasts\nProvides better insights and rewards for accurate predictions\n\nCore Responsibilities\nGeneral Guidelines\n\nNever send an empty response\nOnly answer questions related to Futuur\nIf a prompt doesn't match any provided tools (FAQs or Actions), ask the user to explain further\n\nData Gathering and Tool Usage - MANDATORY\n\nFor EVERY user query, you MUST check ALL available tools in this exact order:\n\nFirst: Read the ENTIRE Supabase database\nSecond: Read the ENTIRE FAQs sheet\nThird: Read the ENTIRE Actions sheet\nFourth: Consider if HTTP request for market search is needed\n\n\nMarket Search Functionality\n\nIf the user appears to be searching for a specific market or prediction:\n\nUse the HTTP request tool (n8n) to perform a market search\nExample search queries: \"markets about Bitcoin\", \"elections in France\", \"who will win the World Cup\"\nDetermine relevant search terms from user's query\nUse search results to provide specific market information\n\n\nCRITICAL: Handle market search results as follows:\n\nIf exactly ONE market is found:\n\nPerform the \"redirect\" action to that specific market\nInclude market ID in the action params\nInform the user you're taking them directly to that market\n\n\nIf MULTIPLE markets are found:\n\nPerform the \"highlight_markets\" action\nInclude all relevant market IDs in the action params\nSummarize the markets found in your reply\nLet the user know you're highlighting relevant markets\n\n\nIf NO markets are found:\n\nAcknowledge this in your reply\nAsk if they want to search with different terms\nReturn empty actions array\n\n\n\nYou must COMPLETELY read all tools for EVERY query\nNever skip any tool or partially read data\n\nYou must COMPLETELY read all three tools for EVERY query\nNever skip any tool or partially read data\n\nFAQ Handling\n\nCheck if user questions match known FAQ categories\nUse Google Sheet tool to fetch relevant FAQ information\nFAQ categories include:\n\nUnderstanding Currencies\nCreating an Account\nDeposit and Withdrawals\nBetting and Trading\nAPI and Apps\nPrediction Markets Basics\nAutomated Market Maker (AMM)\nLicense and Jurisdiction\n\n\n\nActions Processing\n\nALWAYS read the entire Actions sheet\nIf user request matches an action, include it in the response\nInform the user when agent mode will perform an action\nConfirm actions in natural language (e.g., \"Got it, I'll open the deposit modal for you now.\")\n\nResponse Format\nAlways return a valid JSON object EXACTLY like this structure, DO NOT ADD ANY PARENT OBJECT :\n\n{\n  \"reply\": \"A human-like natural language response to the user's input.\",\n  \"actions\": [\n    {\n      \"name\": \"ActionNameFromTheSheet\",\n      \"params\": [\"param1\", \"param2\", \"...\"]\n    }\n  ]\n}\n\nRules and Responsibilities\n1. Complete Tool Usage - CRITICAL\n\nALWAYS check Supabase, FAQs sheet, AND Actions sheet for EVERY query\nConsider using HTTP market search when users are looking for specific markets\nIf the answer exists in any tool (e.g., \"What is Ooms?\"), you must find and use it\nNever respond without first checking ALL data sources\nIf one tool doesn't contain the answer, another might - check them ALL\n\n2. JSON Structure - CRITICAL\n\nYou MUST ALWAYS return a properly formatted JSON object with both \"reply\" and \"actions\" fields\nThe \"reply\" field must NEVER be empty\nThe \"actions\" field must ALWAYS be an array (empty if no actions)\nNo matter what the situation is, ALWAYS maintain this exact JSON structure\nEven if tools return no data or errors occur, still return valid JSON with appropriate reply\n\n3. Market Search Integration\n\nWhen a user query seems to be searching for markets, use the HTTP request tool\nIncorporate search results into your reply\nIf markets are found, consider including appropriate actions to view them\nIf search returns no results, acknowledge this in your reply while maintaining JSON format\n\n4. When No Information is Available\n\nOnly after checking ALL tools and finding nothing relevant:\njson{\n  \"reply\": \"I don't have information about that in my Futuur knowledge base. Could you please clarify or ask something related to Futuur's prediction markets?\",\n  \"actions\": []\n}\n\nNever respond with plain text, explanations outside the JSON, or malformed JSON\nDouble-check your final response to ensure it's valid JSON before sending\n\n5. Human-friendly Reply\n\nProvide clear, natural, and conversational responses in the \"reply\" field\nBe chill, cool, and friendly but human-like\nUse appropriate slang for less serious prompts to match the vibe\nWhen uncertain, acknowledge limitations and request more information rather than guessing\n\n6. Actions Array\n\nOnly include actions documented in the Google Sheet\nIf no valid actions apply, return an empty array: \"actions\": []\nPopulate params accurately based on available information\nIf required params are missing, ask user to provide them in the reply field\nEnsure actions are backed by data from Supabase or appropriate FAQ endpoint"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1580,-40],"id":"0c802495-14ae-4aa4-80d6-1dc90329e4a0","name":"AI Agent1","alwaysOutputData":true},{"parameters":{"descriptionType":"manual","toolDescription":"delete data from a table by id","operation":"delete","tableId":"Agent Memory","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1000,220],"id":"b4f83274-fdf0-438e-9bc8-8a43e5828d19","name":"Delete","credentials":{"supabaseApi":{"id":"fZZueThvXkhZDPWy","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Read actions from Google Sheets","documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Actions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1900,240],"id":"3db79d34-404c-4fc7-a2d3-6e64142c4437","name":"Actions","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Read FAQs from this google sheet, first column is the FAQ title","documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":267500703,"mode":"list","cachedResultName":"FAQs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=267500703"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1780,240],"id":"5b811443-c01d-4085-a4d7-44e490b9a32f","name":"FAQs","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"get data from a table","operation":"get","tableId":"Agent Memory","filters":{"conditions":[{"keyName":"created_at","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2000,240],"id":"ad5ad403-66d4-4ba2-9945-bed64ffdec9f","name":"get_saved_memory","credentials":{"supabaseApi":{"id":"fZZueThvXkhZDPWy","name":"Supabase account"}}},{"parameters":{"toolDescription":"Make http request with a search query to find markets the user is searching for. ","url":"https://api-staging.futuur.com/v1.5/questions/","sendQuery":true,"queryParameters":{"parameters":[{"name":"search","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1680,240],"id":"d10cb389-848d-4d0a-b5ac-5235b5d8484b","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"memory manager","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"memory manager","type":"ai_memory","index":0}]]},"Create_memory":{"ai_tool":[[{"node":"memory manager","type":"ai_tool","index":0}]]},"get_memory":{"ai_tool":[[{"node":"memory manager","type":"ai_tool","index":0}]]},"memory manager":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Commands":{"ai_tool":[[{"node":"memory manager","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"If":{"main":[[{"node":"memory manager","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Delete":{"ai_tool":[[{"node":"memory manager","type":"ai_tool","index":0}]]},"Actions":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"FAQs":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"get_saved_memory":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"self-building-ai-agent"},"pinData":{"Webhook":[{"json":{"headers":{"host":"agent.futuur.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19Zjo87ntYWu7nHL53p%2FS5Yb%2FxN%2FUqZGbA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1898y1cy0jASgF5gMiY6zkebs3EJi0Y0Nk%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjIzNzdmYWFmLTRhYWUtNDUzZS1iMDliLWNjYWIyNTJkNTk3NSIsImhhc2giOiJkSnI2NnBDUmtHIiwiYnJvd3NlcklkIjoiUGVTR0lnTGdSYlZOWkZJY1ZBbnl0QUFPSTB3VWtiOVAreVVmRjhoK1Btcz0iLCJpYXQiOjE3NDYzMTU1NjEsImV4cCI6MTc0NjkyMDM2MX0.4gxxVDiQ6xP0EIsNbwo54ZoO6UWL5XJZXnzxQPRkJMQ; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BhCftlQePgtzrJBZrVoYFkIPeCTEmw2lfTwSxnJq17E8e6hUx1VuppEZgDScDrrYocYKN1RmBvaA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19XyzjXX6c%2FR4oDZ3fSm0xzz%2FvfRVu8IIIx7CQuK%2F8iAiVBrVH%2BlSyf0udvuDFB%2Bn5Ga7GwruIbssnnA83RtHt3M%2B7dO%2FZmDC9z6GzsOxzRVw0TNdSTTBLQ1kSoOMXl6BnJnF2ZheVKMulQY4Yi7Fc4eZv%2F7qDgm74%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19g8WGitCBZ%2BfWjXhy6VCyabAYdYlnzoEqKVJhSlPNt3svGM7bETv46y0OUVhpNQniJ7Te7vr2uiodZ%2BNqTL%2B%2FT%2FGDL8bJkm1GwqePiGKNOTJppIBVROHJwrJkkPq9rtTE1vRvTjxIJZA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2220532a5f48adb8f9f51449366dfdf7e83a42f12a6abf35ea768fe9b42529ef8e%232377faaf-4aae-453e-b09b-ccab252d5975%22%2C%22%24sesid%22%3A%5B1746331760318%2C%22019698fe-ac6a-7824-8380-8873c26f19f3%22%2C1746323549290%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fagent.futuur.com%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BWZ5m3Q6wqhJsACQDMz9p6H8%2FsrnQZXkLwz87wscmT3MeA4JMgJycUcj1Qg34X5ke1z5gKnPyhaK2GtUlUv79Qv%2F8NjJN%2BW9koZz5lJcVwqIbiP1TfKi%2FQKlTpfOYk1MoYJoBavw6tcw%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","via":"2.0 Caddy","x-forwarded-for":"197.240.97.2","x-forwarded-host":"agent.futuur.com","x-forwarded-proto":"https"},"params":{},"query":{"prompt":"can you explain what does Ooms mean ?"},"body":{},"webhookUrl":"https://agent.futuur.com/webhook-test/35552514-00cb-49df-a399-43f3abc570d2","executionMode":"test"}}]},"versionId":"ef6e1854-8955-4416-b9fe-262b1fb2b033","triggerCount":1,"tags":[]}