agent-01-MatFeiWnxjRvXxwZ.json
{"createdAt":"2025-05-03T23:40:12.000Z","updatedAt":"2025-05-06T01:33:06.000Z","id":"MatFeiWnxjRvXxwZ","name":"Agent 01","active":true,"nodes":[{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[3240,-180],"id":"2430aa9c-4eac-4321-ab16-a729f3ddae06","name":"Respond to Webhook"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1340,240],"id":"96f261dd-72c6-48dc-abdd-3a89547d92d6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply\": {\n      \"type\": \"string\",\n      \"description\": \"A human-like natural language response to the user's input.\"\n    },\n    \"actions\": {\n      \"type\": \"array\",\n      \"description\": \"A list of actions the agent should perform. Can be empty if no actions are needed.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"The name of the action to perform.\"\n          },\n          \"params\": {\n            \"type\": \"array\",\n            \"description\": \"List of parameters required by the action.\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\"name\", \"params\"],\n        \"additionalProperties\": false\n      },\n      \"default\": []\n    }\n  },\n  \"required\": [\"reply\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2960,20],"id":"5167b048-2bcc-412b-9aa8-08ceef2de548","name":"Structured Output Parser"},{"parameters":{"content":"## Main workflow\n","height":800,"width":2020,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1160,-260],"typeVersion":1,"id":"1010a1c8-e48c-45c9-b0f3-b0f546530bea","name":"Sticky Note"},{"parameters":{"mode":"retrieve-as-tool","toolName":"FutuurKnowItAll","toolDescription":"Use this to get generic info about futuur platform, like FAQs, links and actions","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[2040,80],"id":"2a979335-3cae-4e16-ad85-b908f88758a8","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"1JS0Mu7Zt7KAYF8s","name":"Supabase account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[580,80],"id":"5cb5bca3-f551-4485-b95f-442ad3508c03","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[700,40],"id":"91af5ef2-7b85-465f-b0d5-c84f17ae3d72","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[720,180],"id":"a6443087-b3ec-42ce-8836-30005a8c61c7","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2060,220],"id":"0719dfbe-8887-42fb-bffd-35bd7e01a182","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Actions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,-120],"id":"476846c4-afdc-42fa-bbca-0e37e975819c","name":"Actions","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":267500703,"mode":"list","cachedResultName":"FAQs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=267500703"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,260],"id":"c216dbcc-7f8f-4360-8565-b557466e770a","name":"FAQs","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[560,-140],"id":"77a33f6f-adee-4908-aff7-54c51619920f","name":"Updating RAG","credentials":{"supabaseApi":{"id":"1JS0Mu7Zt7KAYF8s","name":"Supabase account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc","mode":"id"},"sheetName":{"__rl":true,"value":1636131972,"mode":"list","cachedResultName":"URLs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc/edit#gid=1636131972"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,80],"id":"0effb7d0-1084-41f0-8e0f-3d38d4b68544","name":"URLs","credentials":{"googleSheetsOAuth2Api":{"id":"W9rqycW6ljWg0fNZ","name":"Google Sheets account"}}},{"parameters":{"content":"## RAGing workflow\nconvert files from Google Sheet into a vector database. [DOCS](https://docs.google.com/spreadsheets/d/1869fgmCVc8S5FgYOuTEg-FO56V99FvOOwvyGbc7C3xc)","height":800,"width":980},"type":"n8n-nodes-base.stickyNote","position":[20,-300],"typeVersion":1,"id":"23915aea-ec63-4389-bf59-ef20705eab7b","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.query.prompt }}","options":{"systemMessage":"= Smart Data Agent for Futuur (Main Agent)\nYou are the Main Agent in a two-agent system. Your job is to understand the user's message, gather relevant data using the available tools (Supabase Vector Store and HTTP APIs), and produce a clear, structured instruction for the Formatter Agent.\n \n\n🏢 About Futuur\nFutuur is a prediction market platform where users bet on real-world outcomes. It uses collective intelligence to forecast future events and reward accurate predictions.\n\n✅ Core Responsibilities\nGeneral Guidelines\nAlways query the Supabase Vector Store, even if the prompt seems obvious — especially when it's a request (e.g., \"Can you redirect me to...\").\n\nOnly answer questions related to Futuur.\n\nAlways gather data, never guess.\n\nOutput a short, clear instruction describing:\n\nWhat the final reply should be.\n\nWhat action(s) should be sent to the frontend (if any).\n\nIf more context is needed, clearly ask the user to clarify in your instruction.\n\n🛠 Tool Usage – MANDATORY Order\nFor every prompt, follow this order:\n\nSupabase Vector Store\n\nRetrieve relevant info, actions, FAQ answers, and URLs.\n\nHTTP Tools (if relevant)\n\nIf the user is searching for markets, use get_markets.\n\nIf the user is on a specific market page (/q/${market_id}/), use get_market_by_id.\n\n🔍 Market Search Logic\nIf the user is looking for a market:\n\nParse keywords from the message.\n\nUse get_markets or get_market_by_id based on the context.\n\nThen prepare an instruction for the Formatter Agent based on:\n\nIf 1 market found → prepare an instruction for redirect.\n\nIf multiple → prepare an instruction for highlight_markets.\n\nIf none → suggest rephrasing or trying new search terms.\n\n🎯 Action Handling\nActions must come from the Supabase Vector Store.\n\nIf the user requests an action (e.g., deposit, withdraw, navigate), look it up.\n\nIf a valid action is found, describe it clearly in your instruction.\n\nIf params are missing, explicitly ask the user for the required information.\n\n🧾 Output Format for Main Agent\nYour output must be a clear instruction to the Formatter Agent, such as:\n\nWith Action:\nThe user asked to deposit funds. You should reply: \"Sure! Taking you to the deposit page now.\" Use the action `redirect` with param `/deposit`.\n\nWith Market Search Result:\nI found 3 markets that match their search. You should reply: \"Here are a few markets that match what you asked for.\" Use the action `highlight_markets` with market IDs [123, 456, 789].\n\nIf no matches found:\nLet the user know we couldn’t find anything relevant and suggest trying a different search. No action needed.\nIf clarification is needed:\n\nAsk the user to clarify what they mean by \"trading bot access\". No action for now.\n\n🗣 Tone & Behavior\nBe helpful, natural, and concise.\n\nNever guess — if unsure, ask the user for more info.\n\nStay focused on Futuur-related topics only."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1660,-180],"id":"0c802495-14ae-4aa4-80d6-1dc90329e4a0","name":"Main agent","alwaysOutputData":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1520,220],"id":"44bc24e9-774e-4c66-9ddd-b44bce0f9a57","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"8UCatKRLQedygl6J","name":"Postgres account"}}},{"parameters":{"path":"14b86522-012d-4a68-9a74-04506227af1e","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1200,-60],"id":"32710d24-8b98-4ff3-8f9b-15ee42ebf008","name":"Webhook","webhookId":"14b86522-012d-4a68-9a74-04506227af1e"},{"parameters":{"assignments":{"assignments":[{"id":"6fa328df-fd0a-4653-8be0-d8589dcb5449","name":"sessionId","value":"={{ $json.query.prompt }}{{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,-140],"id":"2a207d8a-6429-456a-99ac-6286ec80aed5","name":"Edit Fields"},{"parameters":{"toolDescription":"Makes an HTTP request to get a list of markets and returns the response data,\nthese are the possible queries :\ncategories?: number[];\n  currency_mode?: \"play_money\" | \"real_money\";\n  limit?: number;\n  live?: boolean;\n  offset?: number; \n  resolved_only?: boolean;\n  search?: string;\n  tag?: string; ","url":"https://api-staging.futuur.com/v1.5/questions","sendQuery":true,"queryParameters":{"parameters":[{"name":"currency_mode","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `\"play_money\" | \"real_money\", default to play_money`, 'string') }}"},{"name":"limit","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `for paggination the amount of question to get default to 8`, 'string') }}"},{"name":"live","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `a flag, if set to true only get the live market`, 'string') }}"},{"name":"offset","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `for paggination, to skip already fetched data, default to 0`, 'string') }}"},{"name":"resolved_only","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `a flag for resolved marker, default to false`, 'string') }}"},{"name":"search","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `VERY IMPORTANT, it helps get the question the user want`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1680,220],"id":"dfc7691f-14f1-4222-a985-6b9b5a10786f","name":"Search markets"},{"parameters":{"toolDescription":"Makes an HTTP request to get more data about specific market by ID, currency_mode [\"play_money\"|\"real_money\"] is a query param use play_money as default.","url":"= https://api-staging.futuur.com/v1.5/questions/{{ $fromAI(\"question_id\") }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"currency_mode","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `currency_mode \"play_money\"|\"real_money\", default to play_money`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1800,220],"id":"551ca3d2-d718-42f8-844e-532ade5fe187","name":"get_market_by_id"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2400,20],"id":"9ba82955-90f5-44de-9ce3-5016d710097b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2700,180],"id":"6caf462a-8d16-4e4f-bda3-a72e84a843c8","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"B5vI4LnammWPYS3D","name":"OpenAi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"FutuurKnowItAll","toolDescription":"Use this to get generic info about futuur platform, like FAQs, links and actions","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[2680,20],"id":"01c2e415-c8b5-470b-8422-3715f5a4891b","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"1JS0Mu7Zt7KAYF8s","name":"Supabase account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"options":{"systemMessage":"🎛 Formatter Agent for Futuur\nYou are the Formatter Agent in a two-agent system.\nYour job is to take the Main Agent’s instruction, validate it against available tools (especially the Supabase Vector Store), and return a final, clean JSON response for the frontend.\n\n✅ Your Core Responsibilities\nConvert the Main Agent’s instruction into a valid JSON object with two fields:\n\n\"reply\": A natural-sounding message to the user\n\n\"actions\": An array of actions the frontend should perform (can be empty)\n\nMake sure the action name and params match what exists in the Supabase Vector Store.\n\nIf the Main Agent's instruction is invalid, incomplete, or references a non-existent action:\n\nCorrect it based on Supabase info\n\nOr ask the user to clarify (return a natural message and an empty action array)\n\n🛠 Tool Usage\nYou must query the Supabase Vector Store to:\n\nValidate actions and parameter names\n\nFetch URLs or predefined values used in actions\n\nConfirm any FAQ or category references, if needed\n\nNever blindly trust the Main Agent — your job is to verify and finalize.\n\n💡 Output Format — STRICT\nAlways return a valid JSON response like:\n\n{\n  \"reply\": \"A friendly, clear message to the user.\",\n  \"actions\": [\n    {\n      \"name\": \"action_name_from_supabase\",\n      \"params\": [\"param1\", \"param2\"]\n    }\n  ]\n}\nRules:\n\n\"reply\" must never be empty\n\n\"actions\" must always be an array (empty if no actions are applicable)\n\nAll action names and params must match those defined in the vector store\n\n🧠 Examples\n\n✅ Redirect to Deposit Page\n\nInstruction from Main Agent:\nThe user asked to deposit funds. You should reply: \"Sure! Taking you to the deposit page now.\" Use the action redirect with param /deposit.\n\nFinal Output:\n{\n  \"reply\": \"Sure! Taking you to the deposit page now.\",\n  \"actions\": [\n    {\n      \"name\": \"redirect\",\n      \"params\": [\"/deposit\"]\n    }\n  ]\n}\n✅ Highlight Market Results\nInstruction from Main Agent:\n\nI found 3 markets that match their search. You should reply: \"Here are a few markets that match what you asked for.\" Use the action highlight_markets with market IDs [123, 456, 789].\n\nFinal Output:\n{\n  \"reply\": \"Here are a few markets that match what you asked for.\",\n  \"actions\": [\n    {\n      \"name\": \"highlight_markets\",\n      \"params\": [\"123\", \"456\", \"789\"]\n    }\n  ]\n}\n\n❌ Invalid Action Reference\nIf the Main Agent uses an action that doesn't exist:\n\nReturn a reply like: \"Sorry, I couldn’t complete that action. Could you rephrase or try again?\"\n\nOr omit the action if appropriate and still respond naturally.\n\n🗣 Tone\nFriendly, helpful, and natural — no robotic phrases.\n\nAvoid slang, but feel free to sound human.\n\nBe concise and direct."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2480,-180],"id":"15954068-1539-48ae-bb93-8f97edff9d82","name":"Formater"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2540,20],"id":"37a140c5-402c-47ed-af6c-a943662562f4","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"8UCatKRLQedygl6J","name":"Postgres account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst transformedData = []\nfor (const item of $input.all()) {\n  const text = `${item.json.action_name} : ${item.json[\"Description for LLM [ important ]\"]} ${item.json.params && item.json.params !== '' ? 'it takes as params : ' + item.json.params : ', No params' }`\n\n  transformedData.push({text})\n}\n\nreturn transformedData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,-120],"id":"553ff3bf-ba47-41f8-8899-4721ef61a4ef","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst transformedData = []\nfor (const item of $input.all()) {\n  const text = `${item.json[\"page name\"]} under ${item.json[\"BASE_URL\"]} : ${item.json[\"Description for the LLM [ IMPORTANT ]\"]},  ${item.json.QUERIES && item.json.QUERIES !== '' ? 'it takes as QUERIES : ' + item.json.QUERIES : ', No queries' }`\n\n  transformedData.push({text})\n}\n\nreturn transformedData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,80],"id":"dc22886b-846c-4622-862b-9866d2e6b067","name":"Code1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst transformedData = []\nfor (const item of $input.all()) {\n  const text = `${item.json[\"FAQ Gategory\"]} : ${item.json[\"FAQ content\"]} `\n\n  transformedData.push({text})\n}\n\nreturn transformedData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,280],"id":"afcfeca8-6b49-4a60-809e-f0606f8c5414","name":"Code2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,-180],"id":"594f4c63-c1d1-42ed-8997-564658099179","name":"When clicking ‘Test workflow’"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Main agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Formater","type":"ai_outputParser","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Updating RAG","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Updating RAG","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Actions":{"main":[[{"node":"Code","type":"main","index":0}]]},"FAQs":{"main":[[{"node":"Code2","type":"main","index":0}]]},"URLs":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Main agent":{"main":[[{"node":"Formater","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Main agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Main agent","type":"main","index":0}]]},"Search markets":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"get_market_by_id":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Formater","type":"ai_languageModel","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"Formater","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Formater":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Formater","type":"ai_memory","index":0}]]},"Code":{"main":[[{"node":"Updating RAG","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Updating RAG","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Updating RAG","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Actions","type":"main","index":0},{"node":"URLs","type":"main","index":0},{"node":"FAQs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"self-building-ai-agent","templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"agent.futuur.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19Zjo87ntYWu7nHL53p%2FS5Yb%2FxN%2FUqZGbA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1898y1cy0jASgF5gMiY6zkebs3EJi0Y0Nk%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjIzNzdmYWFmLTRhYWUtNDUzZS1iMDliLWNjYWIyNTJkNTk3NSIsImhhc2giOiJkSnI2NnBDUmtHIiwiYnJvd3NlcklkIjoiUGVTR0lnTGdSYlZOWkZJY1ZBbnl0QUFPSTB3VWtiOVAreVVmRjhoK1Btcz0iLCJpYXQiOjE3NDYzMTU1NjEsImV4cCI6MTc0NjkyMDM2MX0.4gxxVDiQ6xP0EIsNbwo54ZoO6UWL5XJZXnzxQPRkJMQ; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19U9lQUZVkXCtA%2BF7VXlcBOjs2b4v9PgAwkd9IkdUJcsYyBjLq52Mkpg4apNBFLM8Uuf3AWyGJ%2F%2Bg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FAajz%2BR%2Bl5rEr%2FoBbXbFkvlwDirj%2FWHKekTqPitVxgNpHuPjuXZ1Oys%2FKsa4%2BnYhaoLIQUlVeyyrCevQh6PLlzbnI9yxLIb7gY2H2muomOIte%2FCqDlJJQRNjFDExqbf%2BOWzgK2YW3g7sUXpvsXSpXEvf8yO5FteUQ%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX180KYFUj2bLdCcxdXWufKfFWw%2FD4Qvxa0dhsqE8%2FZNmYPQL2eGugUF7prIo8tbxFCQR%2F%2BmeRPwONFXZfzZQV%2Fu%2Bk%2BV6dBGklLjDgJfjE2HUWcyCVv%2BHWFkFNUaACD4O0Ux1xb9sbKsLew%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2220532a5f48adb8f9f51449366dfdf7e83a42f12a6abf35ea768fe9b42529ef8e%232377faaf-4aae-453e-b09b-ccab252d5975%22%2C%22%24sesid%22%3A%5B1746423823102%2C%2201969e34-7b2a-79ae-899e-e6e4256c5ce9%22%2C1746410961706%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fagent.futuur.com%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BTmcGHmtgyfO57Dqx5xofOvMX2yW%2FdM%2FZItHcxNrfpHnQ6IMKrmNh8tiAmJIdWTf95%2BW%2BPyZaZcgHQl4JOCDfhcm0C2BAl8TAIFb%2FE%2Fl23SJ3wZ0OeK7NCqfzBDtyxnybC60diiMSrpA%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","via":"2.0 Caddy","x-forwarded-for":"197.240.97.2","x-forwarded-host":"agent.futuur.com","x-forwarded-proto":"https"},"params":{},"query":{"prompt":"[URL: http://localhost:3002/q/22652/next-scotus-justice-leave]\n\nUser message: can you redirect me  feed page"},"body":{},"webhookUrl":"https://agent.futuur.com/webhook-test/14b86522-012d-4a68-9a74-04506227af1e","executionMode":"test"}}]},"versionId":"87c3988f-cab0-495e-873c-9e8af44215d9","triggerCount":1,"tags":[]}